body {
    font-family: sans-serif;
    background-color: #fdf1db;
    color: #000000;
    font-family: 'Uncial Antiqua', cursive;
    padding: 50px;
    text-align: center;
    background-color: #fdf6e3;
    background-image: url(fond.png);
}

h1{
    text-align: center;
    font-family: "Quintessential", sans-serif;
    color: #49321f;
    font-weight: 1000px;
    font-size: 50px;
    font-size: 3em;
    margin-bottom: 20px;
    color: #5e2b1a;
}
a.box {
    font-family: "Quintessential", sans-serif;
    display: block;
    width: 80%;              
    max-width: 900px;          
    margin: 30px auto;         
    padding: 30px 20px;
    background-color: #a36430;
    color: #000;
    text-decoration: none;
    font-size: 1.5rem;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border-radius: 15px;      
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

a.box:hover {
    background-color: #64be4e;
    transform: scale(1.12);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #f5e7c4;
}

::-webkit-scrollbar-thumb {
  background: #7b4b2a;
  border-radius: 10px;
  border: 2px solid #f5e7c4;
}

::-webkit-scrollbar-thumb:hover {
  background: #5a3921;
}
#cranedelalose{
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
}

.crane {
  font-size: 100px;
  animation: fadeIn 1s ease-out forwards;
  color: #ccc;
  text-shadow: 2px 2px 5px black;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.5)}
  to { opacity: 1; transform: scale(4)}
}
#youpi-container{
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 9999;
}

.gagne {
  font-size: 100px;
  animation: fadeIn 1s ease-out forwards;
  color: #ccc;
  text-shadow: 2px 2px 5px black;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.5)}
  to { opacity: 1; transform: scale(4)}
}





